bin/Debug/net8.0/appsettings.Development.json
bin/Debug/net8.0/appsettings.json
bin/Debug/net8.0/RazorHtmx-Chat
bin/Debug/net8.0/RazorHtmx-Chat.deps.json
bin/Debug/net8.0/RazorHtmx-Chat.dll
bin/Debug/net8.0/RazorHtmx-Chat.pdb
bin/Debug/net8.0/RazorHtmx-Chat.runtimeconfig.json
bin/Debug/net8.0/RazorHtmx-Chat.staticwebassets.runtime.json
obj/project.assets.json
obj/project.nuget.cache
obj/RazorHtmx-Chat.csproj.nuget.dgspec.json
obj/RazorHtmx-Chat.csproj.nuget.g.props
obj/RazorHtmx-Chat.csproj.nuget.g.targets
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/apphost
obj/Debug/net8.0/project.razor.json
obj/Debug/net8.0/RazorHtmx-Chat.AssemblyInfo.cs
obj/Debug/net8.0/RazorHtmx-Chat.AssemblyInfoInputs.cache
obj/Debug/net8.0/RazorHtmx-Chat.assets.cache
obj/Debug/net8.0/RazorHtmx-Chat.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/RazorHtmx-Chat.csproj.FileListAbsolute.txt
obj/Debug/net8.0/RazorHtmx-Chat.dll
obj/Debug/net8.0/RazorHtmx-Chat.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/RazorHtmx-Chat.genruntimeconfig.cache
obj/Debug/net8.0/RazorHtmx-Chat.GlobalUsings.g.cs
obj/Debug/net8.0/RazorHtmx-Chat.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net8.0/RazorHtmx-Chat.pdb
obj/Debug/net8.0/RazorHtmx-Chat.RazorAssemblyInfo.cache
obj/Debug/net8.0/RazorHtmx-Chat.RazorAssemblyInfo.cs
obj/Debug/net8.0/staticwebassets.build.json
obj/Debug/net8.0/staticwebassets.development.json
obj/Debug/net8.0/staticwebassets.pack.json
obj/Debug/net8.0/ref/RazorHtmx-Chat.dll
obj/Debug/net8.0/refint/RazorHtmx-Chat.dll
obj/Debug/net8.0/scopedcss/bundle/RazorHtmx-Chat.styles.css
obj/Debug/net8.0/staticwebassets/msbuild.build.RazorHtmx-Chat.props
obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.RazorHtmx-Chat.props
obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.RazorHtmx-Chat.props
obj/Debug/net8.0/staticwebassets/msbuild.RazorHtmx-Chat.Microsoft.AspNetCore.StaticWebAssets.props
.vscode/launch.json
.vscode/tasks.json
